
<div class="teste">

  <!-- Coluna Esquerda (Fixa) - Ranking -->

  <div class="left-column">


    <h2>Ranking</h2>
    <ul>
      <li>Usuário 1</li>
      <li>Usuário 2</li>
      <li>Usuário 3</li>
      <li>Usuário 4</li>
      <li>Usuário 5</li>
    </ul>
  </div>

  <!-- Coluna do Meio (Rolável) - Feed Principal -->
  <div class="middle-column">
    <!-- Post 1 -->
    <div class="post">
      <h3>Postagem 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <!-- Post 2 -->
    <div class="post">
      <h3>Postagem 2</h3>
      <p>Nulla ac metus vel erat convallis mattis.</p>
    </div>

    <!-- Post 3 -->
    <div class="post">
      <h3>Postagem 3</h3>
      <p>
        Proin cursus, libero at auctor euismod, elit justo cursus metus.
      </p>
    </div>
  </div>

  <!-- Coluna Direita (Fixa) - Sem Ranking -->
  <div class="right-column">
    <h2>Outras informações</h2>
    <p>Este é o conteúdo da coluna direita.</p>
    <app-initialactions></app-initialactions>
  </div>


<!-- Conteúdo da página aqui -->
</div>
