h2{
  text-align: center;
}
mat-dialog-actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn{
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    width: var(--button-width);
    display: flex;
    justify-content: center;
}

  .btn:hover {
    background-color: var(--hover-btn-primary);
    cursor: pointer;
}
