* {
  text-decoration: none;
  color: #000;
}

.container_menu-lateral {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.card_perfil {
  margin: 0 2px;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  -webkit-box-shadow: -1px 5px 10px 2px rgba(0,0,0,0.06);
  -moz-box-shadow: -1px 5px 10px 2px rgba(0,0,0,0.06);
  box-shadow: -1px 5px 10px 2px rgba(0,0,0,0.06);
}

.card_perfil-foto {
  margin-left: 10px;
  padding: 0;
  max-width: 35%;
  min-width: 35%;
  height: 80px;
  position: relative;
  justify-content: left;
}

.card_perfil-foto > img {
  padding: 0;
  border: 2px solid white;
  width: 95%;
  height: 95%;
  border-radius: 50%;
}



.card_perfil-dados {
  max-width: 60%;
  min-width: 60%;
  padding: 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_perfil-dados > .nomePerfil {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  text-align: center;
}

.card-pontos{
  display: flex;
  font-size: x-small;
  align-items: center;
  color: var(--secondary-color);
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 2px 5px;
  width: 80px;
}
  .card-pontos > .pontos {
    text-align: left;
    font-weight: bold;
    -webkit-text-stroke: black;

  }

  .card-pontos > .comunicoins{
    margin-left: 2px;
  }

  .perfil{
    display: flex;
    font-size: x-small;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    border-radius: 8px;
    padding: 2px 5px;
    width: 80px;
  }
    .perfil > .perfil-texto {
      margin-right: 2px;
    }

    .perfil > .perfil-tipo{
      text-align: left;
      font-weight: bold;
      color: var(--primary-color);
    }

/*Menu*/

.container_sidenav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

a {
  margin: 0;
  padding: 10px 10px 10px 60px;
  text-align: left;
}

i {
  margin-right: 10px;
}

a,
i {
  font-size: 14px;
  font-weight: bold;
}

.card_item-nav a > span {
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}

a:hover {
  background-color: var(--hover-menu);
}

/*submenu cursos*/

.submenus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.submenus > a {
  padding-left: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.submenus > a:not(:first-child) {
  border-top: none;
}

fa-icon {
  font-size: 15px;
}

.chevron {
  margin-left: 10px;
}

/* Active link style */
.active span,
.active fa-icon{
  color: var(--primary-color);
}
