<div class="container_menu-lateral">
  <div class="card_perfil">
    <div class="card_perfil-foto">
      <img [src]="imagem" alt="">
    </div>
    <div class="card_perfil-dados">
      <span class="nomePerfil">{{ Nome }}</span>
      <span class="pontuacao">{{Pontos}} comunicoins</span>
    </div>
  </div>

  <div class="container_sidenav">
    <a routerLink="/home-logado" routerLinkActive="active">
      <i class="fa-layers center-icon"><fa-icon [icon]="faHouse"></fa-icon></i>
      <span>Home</span>
    </a>

    <a routerLink="/perfil" routerLinkActive="active">
      <i class="fa-layers center-icon"><fa-icon [icon]="faUser"></fa-icon></i>
      <span>Perfil</span>
    </a>

    <a (click)="toggleSubmenus()" routerLinkActive="active" #coursesLink="routerLinkActive">
      <i class="fa-layers center-icon"><fa-icon [icon]="faBookOpen"></fa-icon></i>
      <span>Cursos</span>
      <i class="fa-layers center-icon chevron" *ngIf="!submenuOpen">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </i>
      <i class="fa-layers center-icon chevron" *ngIf="submenuOpen">
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </i>
    </a>

    <div class="submenus" [style.display]="submenuOpen || coursesLink.isActive ? 'block' : 'none'">
      <a routerLink="/meusCursosAluno" routerLinkActive="active">
        <i class="fa-layers center-icon"><fa-icon [icon]="faBookOpenReader"></fa-icon></i>
        <span>Aluno</span>
      </a>
      <a routerLink="/meusCursosProfessor" routerLinkActive="active">
        <i class="fa-layers center-icon"><fa-icon [icon]="faChalkboardTeacher"></fa-icon></i>
        <span>Professor</span>
      </a>
      <a routerLink="/staff" routerLinkActive="active">
        <i class="fa-layers center-icon"><fa-icon [icon]="faThumbsUp"></fa-icon></i>
        <span>Staff</span>
      </a>
      <a routerLink="/gerenciar-usuarios" routerLinkActive="active">
        <i class="fa-layers center-icon"><fa-icon [icon]="faUserTie"></fa-icon></i>
        <span>Administrador</span>
      </a>
    </div>

    <a routerLink="/ranking-page" routerLinkActive="active">
      <i class="fa-layers center-icon"><fa-icon [icon]="faTrophy"></fa-icon></i>
      <span>Ranking</span>
    </a>

    <br><br><br>

    <a href="" (click)="sair()" routerLinkActive="active">
      <i class="fa-layers center-icon"><fa-icon [icon]="faDoorOpen"></fa-icon></i>
      <span>Sair</span>
    </a>
  </div>
</div>
