.right-column {
  position: fixed;
  right: 0;
  width: 15%;
  height: 100%;
  margin-top: 60px;
  padding-top: 10px;
  background-color: #EDEDED;
  z-index: 1;
  overflow-y: auto;
}

.right-column::-webkit-scrollbar {
  width: 5px;
}

.right-column::-webkit-scrollbar-track {
  background: #7e7e7e42;
}

.right-column::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
  border-radius: 10px;
}
