<div class="container_sidenav">
  <div class="card_item-nav">
    <div>
      <a href="">
        <i class="fa-layers center-icon"><fa-icon [icon]="faHouse"></fa-icon></i>
        <span>Perfil</span>
       </a>
    </div>
    <div>
      <a href="">
        <i class="fa-layers center-icon"><fa-icon [icon]="faBookOpen"></fa-icon></i>
        <span>Cursos</span>
       </a>
    </div>
    <div>
      <a href="">
        <i class="fa-layers center-icon"><fa-icon [icon]="faRankingStar"></fa-icon></i>
        <span>Ranking</span>
      </a>
    </div>
    <div>
      <a href="">
        <i class="fa-layers center-icon"><fa-icon [icon]="faBell"></fa-icon></i>
        <span>Notificações</span>
      </a>
    </div>
    <div>
      <a href="">
        <i class="fa-layers center-icon"><fa-icon [icon]="faUsers"></fa-icon></i>
        <span>Fórum</span>
      </a>
    </div>

    <br><br><br>

    <div>
      <a href="">
        <i class="fa-layers center-icon"><fa-icon [icon]="faDoorOpen"></fa-icon></i>
        <span>Sair</span>
      </a>
    </div>

  </div>
</div>
