*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  max-width: 220px;
  min-height: 20px;
}

.container_sidenav{
position: fixed;
top: 20%;
left: 0;
width: 20%;
}

.card_item-nav{
  padding-top: 30px;
  display: flex;
  flex-direction: column;

}

.card_item-nav > a:not(:first-child) {
  border-top: none;
}

a{
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 10px 10px 40px;
  border-top: 1px groove rgb(189, 188, 188);
  border-bottom: 1px groove rgb(189, 188, 188);
}

.card_item-nav a > span{
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
}

a:hover{
  background-color: rgb(189, 188, 188);
}

a:hover i > fa-icon, a:hover span {
  color: #990000;
}
