.modal-title {
    text-align: center;
    margin-bottom: 20px; /* Aumenta a margem inferior */
  }
  
  .modal-content {
    margin-bottom: 20px; /* Adiciona espaço entre o parágrafo e o card */
  }
  
  .modal-text {
    text-align: justify;
  }
  
  .mat-dialog-container {
    padding: 20px; /* Aumenta o espaço interno do modal */
  }
  
  .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .btn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }