.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-title {
  text-align: center;
  margin-bottom: 10px; /* Aumenta a margem inferior */
}

.modal-content {
  padding: 0 20px;
  justify-content: center;
}

.modal-text {
  text-align: justify;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  background-color: var(--primary-color);
  width: 110px;

}

.btn:hover {
  background-color: var(--hover-btn-primary);
  cursor: pointer;
}
mat-dialog-actions{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
