<div class="modal-container">
  <h2 mat-dialog-title>Curso salvo com sucesso!</h2>
  <p>Agora é só aguardar a aprovação de um de nossos staffs para que seu curso seja disponibilizado na Comunitec. <br>
     Isso pode demorar alguns dias, enquanto isso aproveite para explorar novos cursos em nossa plataforma.
  </p>
  <div class="container-btn">
    <button class='btn close' mat-button (click)="closeModal()">Fechar</button>
    <button class='btn' mat-button routerLink="/meusCursosAluno" (click)="closeModal()">Explorar</button>
  </div>
</div>
