.container_aviso{
  margin-top: 100px;
}

.black-box {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  padding: 10px 5px;
  margin: 0 auto;
  margin-top: 20%;
  box-shadow: 1px 0px 78px 6px rgba(153,0,0,0.28);
  -webkit-box-shadow: 1px 0px 78px 6px rgba(153,0,0,0.28);
  -moz-box-shadow: 1px 0px 78px 6px rgba(153,0,0,0.28);
  animation: balanco 5s infinite;
}
@keyframes balanco {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1{
  font-size: 18px;
  text-shadow: 4px 4px 6px rgba(153,0,0,0.6);
  padding-bottom: 5PX;
}

p{
  font-size: 14px;
  text-align: justify;
  word-spacing: -3px;
  padding: 5px;
}

.login-button,
.signup-button {
  width: 70%;
  padding: 5px;
  margin: 5PX;
  background: rgb(193,3,3);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16;
  font-weight: bold;
}

.login-button:hover,
.signup-button:hover {
  background-color: #0056b3;
}

