<div class="signup-container">
  <div class="black-box">
    <h1>INSCREVA-SE</h1>
    <p>
      Junte-se à Comunitec hoje mesmo para acesso a cursos incríveis ou para compartilhar seu conhecimento com a comunidade!
    </p>

    <button routerLink="/signup" class="login-button" aria-label="Inscreva-se">SIGN UP</button>
    <br><br>
    <p>Já possui conta cadastrada? Acesse aqui:</p>
    <button routerLink="/login" class="signup-button" aria-label="Login">LOGIN</button>
  </div>
  <br><br>
</div>
