.left-column {
  position: fixed;
  left: 0;
  width: 15%;
  height: 100%;
  margin-top: 60px;
  padding-top: 10px;
  background-color: #EDEDED;
  z-index: -1;
  overflow-y: auto;
  max-height: 92vh;

}
