<div class="signup-container">
  <div class="signup-box">
    <h1>Criar Conta</h1>
    <form (submit)="enviarRegistro()">
      <div class="input-group">
        <label for="nome">Nome Completo</label>
        <input
          name="name"
          type="text"
          id="name"
          [(ngModel)]="name"
          placeholder="Digite seu nome completo"
        />
      </div>
      <div class="input-group">
        <label for="password">Senha</label>
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          id="password"
          placeholder="Digite sua senha"
        />
      </div>
      <div class="input-group">
        <label for="email">E-mail</label>
        <input
          [(ngModel)]="email"
          name="email"
          type="email"
          id="email"
          placeholder="Digite seu e-mail"
        />
        <p>
          *Obs: o email utilizado para criar a conta deve ser do domínio
          fatec.sp.gov.br
        </p>
      </div>

      <div class="input-group">
        <label for="confirmaSenha">Confirmação de Senha</label>
        <input
          type="password"
          id="confirmaSenha"
          placeholder="Confirme sua senha"
        />
      </div>
      <div class="input-group">
        <label for="dataNascimento">Data de Nascimento</label>
        <input type="date" id="dataNascimento" />
      </div>
      <div class="input-group">
        <button class="back-button" routerLink="/">Voltar</button>
        <button type="submit" class="signup-button">Criar conta</button>
      </div>
    </form>

    <div class="img-signup">
      <img src="assets\img-criar-conta.png" alt="Imagem de criar conta" />
    </div>
  </div>
</div>
