.titulo-pagina{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;

}

h1{
  margin: 0;
  font-weight: bold;
  text-align: center;
}

img {
  margin-top: 2dvh;
  width: 40%;
}

.img-signup {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.form{
  display: flex;
  justify-content: center;
}
