/* Estilos padrão */
.container_curso {
  display: flex;
  flex-direction: column; /* Alterado para exibir os cards um abaixo do outro */
  align-items: stretch;
  padding: 16px 70px;
}

.card_curso {
  display: flex;
  flex-wrap: wrap; /* Adicionado */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out; /* Adicionado efeito de transição */
  background-color: var(--back-menu);
  margin-bottom: 16px; /* Adicionado espaço entre os cards */
}

.card_curso:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card_curso-thumb {
  width: 30%;
  flex-shrink: 0;
}

.card_curso-thumb img {
  width: 100%;
  height: auto; /* Garante que a altura seja ajustada proporcionalmente à largura */
  object-fit: cover;
  max-width: 100%; /* Limita a largura máxima da imagem */
  max-height: 100%; /* Limita a altura máxima da imagem */
}

.card_curso-descricao {
  padding: 16px;
  flex: 1;
}

.card_descricao-titulo h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.container-tags {
  display: flex;
  flex-wrap: wrap;
}

.container-tags p {
  background: var(--primary-color);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 4px 4px 0;
  font-size: 12px;
  color: white; /* Definindo a cor do texto como branco */
  border-radius: 14px;
}

.card_descricao-texto {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}

.card_descricao-botoes {
  display: flex;
  gap: 8px;
}

.card_descricao-botoes button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-editar { background-color: #4caf50; color: white; }
.btn-Aprovar { background-color: #2196f3; color: white; }
.btn-Reprovar { background-color: #f44336; color: white; }
.btn-Inativar { background-color: #ff9800; color: white; }
.btn-excluir { background-color: #e91e63; color: white; }

.card_curso-progresso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  background-color: #f9f9f9;
}

.card_progresso-barra {
  height: 8px;
  background: #4caf50;
  width: 50%; /* Exemplo de progresso, ajuste conforme necessário */
}

.card_progresso-descricao {
  text-align: right;
  font-size: 12px;
  margin-top: 4px;
  color: #555;
}

/* Media query para dispositivos menores */
@media (max-width: 768px) {
  .card_curso {
    margin-bottom: 8px; /* Reduzir espaço entre os cards */
  }
}
/* Estilos para os campos de pesquisa */
.filter-container {
  display: flex;
  flex-direction: row; /* Alterado para linha para alinhar os elementos horizontalmente */
  align-items: center; /* Centraliza verticalmente os elementos */
  justify-content: flex-end; /* Mover todos os elementos para a direita */
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 8px 12px; /* Reduzido para diminuir o tamanho da caixa */
}

.filter-container span {
  font-size: 18px; /* Reduzido o tamanho da fonte */
  margin-right: 8px; /* Adiciona espaçamento entre o texto e os outros elementos */
  font-weight: bold; /* Deixa o texto em negrito para destacá-lo */
}

.filter-container select,
.filter-container input[type="text"] {
  flex: 1; /* Alterado para o elemento preencher todo o espaço disponível */
  padding: 10px; /* Reduzido para diminuir o tamanho da caixa */
  font-size: 14px; /* Reduzido o tamanho da fonte */
  border-radius: 5px;
  margin-right: 8px; /* Adiciona um espaçamento entre os elementos */
}

.filter-container button {
  padding: 10px 18px; /* Reduzido para diminuir o tamanho do botão */
  font-size: 14px; /* Reduzido o tamanho da fonte */
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 8px; /* Adiciona um espaçamento entre os elementos */
}

.filter-container button:hover {
  background-color: var(--hover-btn-primary);
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .filter-container {
      flex-direction: column; /* Alterado para coluna para empilhar os elementos verticalmente em telas menores */
      align-items: stretch; /* Alterado para esticar os elementos verticalmente */
  }

  .filter-container span {
      margin-bottom: 8px; /* Adiciona espaçamento inferior entre o texto e os outros elementos em telas menores */
  }

  .filter-container select,
  .filter-container input[type="text"] {
      margin-right: 0; /* Remove o espaçamento entre os elementos em telas menores */
      margin-bottom: 8px; /* Adiciona espaçamento inferior entre os elementos em telas menores */
  }

  .filter-container button {
      margin-right: 0; /* Remove o espaçamento entre os elementos em telas menores */
  }
}

.common-style {
  display: flex;
  padding: 8px; /* Reduzido para diminuir o tamanho da caixa */
  border-radius: 8px;
  border: none;
  background-color: #d9d9d9;
  box-shadow: 1px 3px 4px -2px #898989;
  font-size: 14px; /* Reduzido o tamanho da fonte */
}

.common-style:focus {
outline: none;
}
