.container_curso {
  margin: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 1px 3px 4px -2px #898989;
}

.card_curso {
  display: flex;
  position: relative;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  width: 100%;
  height: 200%;
  overflow: hidden;
}

.card_curso-thumb img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover; /* Cobre o contêiner completamente */
  display: block; /* Remove o espaço branco ao redor da imagem */
}

.card_curso-descricao {
  padding: 1rem;
  /* max-height: 200px; */
  overflow: hidden;
  background-color: var(--back-menu);
}


.card_descricao-texto {
  text-align: justify;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Número de linhas para exibir */
  -webkit-box-orient: vertical;
}

.card_descricao-botoes {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card_descricao-botoes > button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
}

.btn-excluir, .btn-Reprovar {
  background-color: var(--primary-color);
}

.btn-editar{
  background-color: blue;
}

.btn-Aprovar{
  background-color: green;
}

.btn-Inativar {
  background-color: var(--secondary-color);
}

/* @media (min-width: 768px) {
  .card_curso {
    display: flex;
    flex-direction: row;
  }

  .card_curso-thumb {
    flex: 1;
  }

  .card_curso-descricao {
    flex: 2;
  }
} */

.container-tags {
  display: flex;
}

.container-tags p {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 14px;
  padding: 5px 30px;
  font-size: 14px;
  margin: 0 10px 10px 0;
}
