<div class="container_curso">
  <div class="card_curso">
    <div class="card_curso-thumb">
      <img src="{{ imagem }}" alt="" />
    </div>
    <div class="card_curso-descricao">
      <div class="card_descricao-titulo">
        <h2>{{ nomeCurso }}</h2>
      </div>

      <div class="card_descricao-tags">
        <span *ngFor="let tag of tags">{{ tag }}</span>
      </div>

      <div class="card_descricao-texto">{{ descricao }}</div>

      <div class="card_descricao-botoes">
        <button *ngIf="podeEditar" class="btn-editar">Editar</button>
        <button *ngIf="podeExcluir" class="btn-excluir">Excluir</button>
      </div>
    </div>
  </div>
  <div class="card_curso-progresso">
    <div class="card_progresso-barra"></div>
    <div class="card_progresso-descricao"></div>
  </div>
</div>
