<!-- Campo de pesquisa -->
<div class="pesquisar">
  <div class="filter-container search-container">
    <input class="common-style" type="text" placeholder="Pesquisar cursos por título ou tecnologia..." [(ngModel)]="termoPesquisa" (input)="pesquisar()">
    <div *ngIf="exibirBotaoAdicionar" class="adicionar">
      <button class="btn-adicionarCurso" routerLink="/courseForm">+ Adicionar Curso</button>
    </div>
  </div>
</div>

<div class="container_curso">
  <!-- Itera sobre cada curso filtrado e exibe as informações -->
  <div class="card_curso" *ngFor="let curso of cursosFiltrados">
    <div class="card_curso-thumb">
      <img [src]="curso.Imagem" class="photo">
    </div>
    <div class="card_curso-descricao">
      <div class="card_descricao-titulo">
        <h2>{{ curso.Nome }}</h2>
        <div id="statusDiv" class="status" *ngIf="deveMostrarStatus(curso)"><b>Status do curso: </b> <span id="statusText" >{{ curso.Status }}</span></div>
      </div>
      <div class="container-tags">
        <p *ngFor="let tag of curso.tags">{{ tag }}</p>
      </div>
      <div class="card_descricao-texto">{{ getTruncatedText(curso.Descricao, 300) }}</div>
      <div class="card_descricao-botoes">
        <button *ngIf="podeVisualizar" (click)="redirecionarParaRotaDetalhe(curso.idCurso)" class="btn-visualizar">Visualizar</button>
        <button *ngIf="podeEditar" (click)="redirecionarParaRota(curso.idCurso)" class="btn-editar">Editar</button>
        <button *ngIf="podeAprovar" (click)="aprovarCurso(curso.idCurso)" class="btn-Aprovar">Aprovar</button>
        <button *ngIf="podeReprovar" (click)="reprovarCurso(curso.idCurso)" class="btn-Reprovar">Reprovar</button>
        <button *ngIf="podeInativar" (click)="openModalInativar(curso.idCurso)" class="btn-Inativar">Inativar</button>
        <button *ngIf="podeExcluir" (click)="openModalDeletar(curso.idCurso)" class="btn-excluir">Excluir</button>
      </div>
    </div>
  </div>
</div>
