.adicionar > button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    float: right;
  }


  .btn-adicionarCurso {
    background-color: var(--primary-color);
  }

  .btn-adicionarCurso:hover {
    background-color: var(--hover-btn-primary);
  }

  h1{
    margin: 20px;
    text-align: center;
  }
  