<!-- Coluna Esquerda (Fixa) - Menu Lateral -->
<app-left-column>
  <app-menu-lateral *ngIf="podeVerMenuLateral"></app-menu-lateral>
</app-left-column>

<!-- Coluna do Meio (Rolável) - Conteúdo Principal -->
<app-middle-column>
  <br><br><br>
  <h1>Perguntas frequentes</h1>
  <button routerLink="/FaqFormComponent" class="save-button" *ngIf="podeAdicionarEDeletar">Adicionar Pergunta</button>
  <br><br>
  <mat-accordion>
    <mat-expansion-panel class="matExpansion" *ngFor="let faq of faqs">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ faq.Pergunta }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ faq.Resposta }}</p>
      <button (click)="deletarFaq(faq.idFaq)" class="save-button" *ngIf="podeAdicionarEDeletar" >Deletar</button>
    </mat-expansion-panel>
    <br>
  </mat-accordion>
  <footer>
    <p class="rodape">Para enviar suas dúvidas contacte algum dos seguintes emails:</p>
    <p class="rodape">nicolau.wojcieszuk@fatec.sp.gov.br | nicolau.wojcieszuk@fatec.sp.gov.br | nicolau.wojcieszuk@fatec.sp.gov.br | nicolau.wojcieszuk@fatec.sp.gov.br |</p>
  </footer>
</app-middle-column>

<app-right-column></app-right-column>
