<!-- Coluna Esquerda (Fixa) - Menu Lateral -->
<app-left-column>
  <app-menu-lateral *ngIf="podeVerMenuLateral"></app-menu-lateral>
  <app-initialactions *ngIf="!podeVerMenuLateral"></app-initialactions>
</app-left-column>

<!-- Coluna do Meio (Rolável) - Conteúdo Principal -->
<app-middle-column>
  <div class="titulo-pagina">
    <h1>PERGUNTAS FREQUENTES</h1>
    <i class="fa-layers center-icon"><fa-icon [icon]="faCircleQuestion"></fa-icon></i>
  </div>
  <div class="btn">
    <button routerLink="/FaqFormComponent" class="save-button" *ngIf="podeAdicionarEDeletar">+ Adicionar Pergunta</button>
  </div>
  <br><br>
  <mat-accordion>
    <mat-expansion-panel class="matExpansion" *ngFor="let faq of faqs">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ faq.Pergunta }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ faq.Resposta }}</p>
      <div class="btn">
        <button (click)="deletarFaq(faq.idFaq)" class="save-button" *ngIf="podeAdicionarEDeletar" >Deletar</button>
      </div>
    </mat-expansion-panel>
    <br>
  </mat-accordion>
  <footer>
    <p class="rodape">Para enviar suas dúvidas contacte algum dos seguintes emails:</p>
    <p class="rodape">nicolau.wojcieszuk@fatec.sp.gov.br | nicolau.wojcieszuk@fatec.sp.gov.br | nicolau.wojcieszuk@fatec.sp.gov.br | nicolau.wojcieszuk@fatec.sp.gov.br |</p>
  </footer>
</app-middle-column>

<app-right-column></app-right-column>
