::ng-deep .matExpansion .mat-expansion-panel-body{
    padding: 20px!important;
}

.matExpansion.mat-expansion-panel .mat-expansion-panel-header{
    background-color: rgb(219, 219, 219);
}

.matExpansion.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
    background-color: rgb(196, 196, 196);
}
  .matExpansion{
    margin: 0 60px;
  }

  .titulo-pagina{
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
    justify-content: center;
    color: var(--hover-btn-secondary);
    gap: 10px;

  }

  .titulo-pagina > i {
    font-size: 20px;

  }

  h1{
    margin: 0;
    font-weight: bold;
    text-align: center;
  }

.contentToogle{
    font-size: 16px;
}

.rodape{
    font-size: 10px;
}



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.save-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 32px;
    padding: 10px 20px;
    width: 180px;
  }
.btn{
  display: flex;
  justify-content: center;
}

footer {
  background-color: var( --secondary-color);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
footer p{
margin: 0;
}
