<!-- Coluna Esquerda (Fixa) - Ranking -->
<app-left-column>
  <app-menu-lateral></app-menu-lateral>
</app-left-column>

<!-- Coluna do Meio (Rolável) - Feed Principal -->
<app-middle-column>
  <form action="">
    <h1><b>Gerenciar Cursos</b></h1>
    <div class="input-group">
      <label for="courseName">Nome do Curso</label>
      <input class="common-style" name="courseName" type="text" id="courseName" placeholder="Digite o nome do curso"
        required [(ngModel)]="curso.tituloCurso" />
      <label for="courseDescription">Descrição</label>
      <textarea class="common-style" name="courseDescription" id="courseDescription" cols="30" rows="10"
        placeholder="Digite a descrição do curso" [(ngModel)]="curso.descricaoCurso"></textarea>
      <label for="tag">Tag</label>
      <select class="common-style" name="tagSelector" id="tag" [(ngModel)]="selectedTag" (change)="optionSelected()">
        <option *ngFor="let tag of tagList" [value]="tag">
          {{ tag }}
        </option>
      </select>
      <div class="container-tags">
        <p *ngFor="let tag of selectedOptions">{{ tag }}</p>
      </div>
      <div class="container-buttons">
        <button class="common-style" type="button" (click)="removeTags()"
          [ngClass]="{ 'btn-tag-selecionada': tagBoolean }">
          - Remover tags
        </button>
      </div>

      <!-- Seção de imagem -->
      <label for="adicionarImagem">Adicionar imagem</label>
      <input class="input-file" id="adicionarImagem" type="file" accept=".jpg, .jpeg, .png"
        (change)="onFileSelected($event, 'imagem')" hidden />
      <div class="image-preview" *ngIf="selectedImagem">
        <img [src]="selectedImagem" alt="selecionada">
      </div>
      <button type="button" class="save-button" (click)="triggerFileInput('adicionarImagem')">Escolher Imagem</button>

      <!-- Seção de emblema -->
      <label for="adicionarEmblema">Adicionar emblema</label>
      <input class="input-file" id="adicionarEmblema" type="file" accept=".jpg, .jpeg, .png"
        (change)="onFileSelected($event, 'emblema')" hidden />
      <div class="image-preview" *ngIf="selectedEmblema">
        <img [src]="selectedEmblema" alt="Emblema selecionado">
      </div>
      <button type="button" class="save-button" (click)="triggerFileInput('adicionarEmblema')">Escolher Emblema</button>

      <!-- Seção de PDF -->
      <label for="adicionarCertificado">Adicionar Certificado (PDF)</label>
      <input class="input-file" id="adicionarCertificado" type="file" accept=".pdf"
        (change)="onFileSelected($event, 'certificado')" hidden />
      <div class="pdf-preview" *ngIf="selectedCertificadoName">
        <p>Arquivo selecionado: {{ selectedCertificadoName }}</p>
      </div>
      <button type="button" class="save-button" (click)="triggerFileInput('adicionarCertificado')">Escolher PDF</button>

      <div style="display: flex; justify-content: center;">
        <button type="button" class="save-button" (click)="salvarCurso()">Salvar curso e enviar aulas</button>
      </div>

      <!-- Seção de aulas -->
      <div class="add-video" *ngIf="mostrarAulas">
        <label for="adicionarVideos">Enviar vídeos</label>
        <label for="tituloAula">Título da aula</label>
        <input type="text" class="common-style" placeholder="Digite o título da aula" name="tituloAula" id="tituloAula"
          [(ngModel)]="tituloAula" [ngModelOptions]="{ standalone: true }" required />
        <label for="descricaoAula">Descrição da aula</label>
        <textarea class="common-style" cols="30" rows="2" placeholder="Digite a descrição da aula" name="descricaoAula"
          id="descricaoAula" [(ngModel)]="descricaoAula" [ngModelOptions]="{ standalone: true }"></textarea>
        <label for="adiconarVideo">Adicionar link do vídeo</label>
        <input class="common-style" id="adiconarVideo" type="text" placeholder="Insira o link do vídeo"
          [(ngModel)]="linkAula" [ngModelOptions]="{ standalone: true }" />
        <!-- Seção de questionário -->
        <label for="">Adicionar questionário</label>
        <div class="container-questionary" *ngFor="let questao of questionario; let qi = index">
          <label for="questao{{qi}}">Questão {{qi+1}}:</label>
          <input type="text" class="common-style" placeholder="Digite a questão" name="questao{{qi}}" id="questao{{qi}}"
            [(ngModel)]="questao.questao" [ngModelOptions]="{ standalone: true }" />
          <label for="">Digite as respostas e marque a alternativa correta</label>
          <div *ngFor="let alternativa of questao.respostas; let ai = index" class="answer-group">
            <input type="text" class="common-style" placeholder="Digite a resposta" name="respostaCorreta{{qi}}_{{ai}}"
              id="respostaCorreta{{qi}}_{{ai}}" [(ngModel)]="alternativa.textoAlternativa"
              [ngModelOptions]="{ standalone: true }" />
            <div class="container-buttons">
              <button type="button" [ngClass]="{'btn-correta': alternativa.correta, 'save-button': !alternativa.correta}"
                (click)="setCorrectAnswer(qi, ai)">{{alternativa.correta ? 'Correta': 'Marcar correta'}} </button>
            </div>
          </div>
        </div>
        <div class="container-buttons">
          <button class="save-button" type="button" (click)="saveClass()">Salvar aula</button>
        </div>
      </div>
    </div>
    <div class="container-buttons">
      <button class="save-button" type="button" (click)="finalizarGerenciamento()">Finalizar gerenciamento do curso</button>
    </div>
  </form>
</app-middle-column>

<!-- Coluna Direita (Fixa) - Sem Ranking -->
<app-right-column>
  <div class="column-right">
    <h3><b>Aulas Salvas</b></h3>
    <p>
      As aulas que você salvar aparecerão aqui, clique em uma aula para editar
      as informações
    </p>
  </div>
  <div class="saved-classes" *ngFor="let aula of curso.aulas; let a=index" (click)="mostraDados(aula, a)">
    <h4><b>Aula {{a+1}}:</b> {{ aula.tituloAula }}</h4>
    <p>{{ aula.descricaoAula }}</p>
  </div>
</app-right-column>
