<!-- Coluna Esquerda (Fixa) - Ranking -->
<app-left-column>
  <h2>Ranking</h2>
  <ul>
    <li>Usuário 1</li>
    <li>Usuário 2</li>
    <li>Usuário 3</li>
    <li>Usuário 4</li>
    <li>Usuário 5</li>
  </ul>
</app-left-column>

<!-- Coluna do Meio (Rolável) - Feed Principal -->
<app-middle-column>
  <form action="">
    <h1>Gerenciar Cursos</h1>

    <div class="input-group">
      <label for="nome">Nome do Curso</label>
      <input
        class="common-style"
        name="courseName"
        type="text"
        id="courseName"
        placeholder="Digite o nome do curso"
      />

      <label for="nome">Descrição</label>
      <textarea
        class="common-style"
        name="courseDescription"
        id="courseDescription"
        cols="30"
        rows="10"
        placeholder="Digite a descrição do curso"
      ></textarea>
      <label for="nome">Tag</label>

      <select
        class="common-style"
        name="tagSelector"
        id="tag"
        [(ngModel)]="selectedTag"
        (change)="optionSelected()"
      >
        <option *ngFor="let tag of tagList" [value]="tag">
          {{ tag }}
        </option>
      </select>
      <div class="container-tags">
        <p *ngFor="let tag of selectedOptions">{{ tag }}</p>
      </div>

      <div class="container-buttons">
        <button
          class="common-style"
          (click)="removeTags()"
          [ngClass]="{ 'btn-tag-selecionada': tagBoolean }"
        >
          - Remover tags
        </button>
      </div>

      <label for="adiconarImagem">Adicionar imagem</label>
      <input
        class="input-file"
        id="adiconarImagem"
        type="file"
        accept=".jpg, .jpeg, .png"
      />
      <label for="">Enviar vídeos</label>
      <div class="add-video">
        <label for="">Título da aula</label>
        <input
          type="text"
          class="common-style"
          placeholder="Digite o título da aula"
          name="titulo"
          id="titulo"
          [(ngModel)]="titulo"
          [ngModelOptions]="{ standalone: true }"
        />
        <label for="">Descrição da aula</label>
        <textarea
          class="common-style"
          cols="30"
          rows="2"
          placeholder="Digite a descrição da aula"
          [(ngModel)]="descricao"
          [ngModelOptions]="{ standalone: true }"
        ></textarea>
        <label for="">Adicionar vídeo</label>
        <input
          class="input-file"
          id="adiconarVideo"
          type="file"
          accept=".mp4"
        />
        <div class="container-buttons">
          <button class="save-button" (click)="saveClass()">Salvar aula</button>
        </div>
      </div>
    </div>
    <div class="container-buttons">
      <button class="save-button">Finalizar gerenciamento do curso</button>
    </div>
  </form>
</app-middle-column>

<!-- Coluna Direita (Fixa) - Sem Ranking -->
<app-right-column>
  <div class="column-right">
    <h3>Aulas Salvas</h3>
    <p>
      As aulas que você salvar aparecerão aqui, clique em uma aula para editar
      as informações
    </p>
  </div>
  <div
    class="saved-classes"
    *ngFor="let class of classList"
    (click)="mostraDados(class)"
  >
    <h4>{{ class.titulo }}</h4>
    <p>{{ class.descricao }}</p>
  </div>
  <div class="saved-classes">
    <h4>título da aula para teste</h4>
    <p>está é uma breve descrição do conteudo da aula x</p>
  </div>
</app-right-column>
