<!-- Coluna Esquerda (Fixa) - Ranking -->
<app-left-column>
  <app-menu-lateral></app-menu-lateral>
</app-left-column>

<!-- Coluna do Meio (Rolável) - Feed Principal -->
<app-middle-column>
  <div class="container">

    <h2>Gerenciar Usuários</h2>

    <h3>Usuários cadastrados na comunitec</h3>
    <div class="search">
      <span>Pesquisar:</span>
      <input class="common-style" type="text" placeholder="Pesquisar usuário por nome ou e-mail">
      <button class="btn-add" (click)="adicionarUsuario()">Adicionar Usuário</button>
    </div>
    <div class="container-usuarios">
      <div class="usuario"  *ngFor="let usuario of usuarios">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
        <p><b>Nome: </b>{{usuario.nome}}</p> <!-- Corrigido para 'name' -->
        <p><b>Email:</b> {{usuario.email}}</p>
        <div class="container-icons">
          <a  class="edit" (click)="editarUsuario(usuario)"><fa-icon [icon]="faEdit"></fa-icon></a>
          <a  class="delete" (click)="excluirUsuario(usuario)"><fa-icon [icon]="faTrash"></fa-icon></a>
        </div>
      </div>
    </div>

  </div>
</app-middle-column>

<app-right-column></app-right-column>
