.titulo-pagina{
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  justify-content: center;
  color: var(--hover-btn-secondary);
  gap: 10px;

}

.titulo-pagina > i {
  font-size: 20px;
}


h1{
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 8px 12px;
}

.search span {
  font-size: 18px;
  margin-right: 8px;
  font-weight: bold;
}

.search input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 8px;
  border: 1px solid #ccc; /* Adicionei uma borda para destacar o input */
}

.search button {
  padding: 10px 18px;
  font-size: 14px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 8px; /* Adicionei um espaçamento entre o input e o botão */
}

.search button:hover {
  background-color: var(--hover-btn-primary);
}


.common-style {
      /* display: flex; */
      padding: 10px;
      border-radius: 8px;
      border: none;
      background-color: #d9d9d9;
      box-shadow: 1px 3px 4px -2px #898989;
      /* font-size: 16px; */
}
.common-style:focus {
outline: none;
}
.btn-add {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px;
}

.container-usuarios{
    display: flex;
      flex-wrap: wrap;/* align-items: center; */
    justify-content: center;
    margin-top: 20px;
}

.usuario{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: var(--back-menu);
  box-shadow: var(--box-shadow);

  max-width: 170px;
  min-width: 170px;
}
p{
  font-size: 10px;
  margin: 0;
}

img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.container-icons{
  display: flex;
  margin-top: 10px;
  gap: 40px;
}
a{
    font-size: 25px;
}

.edit{
  color: var(--secondary-color);
  cursor: pointer;
}

.edit:hover{
  color: #3a3a3a;
}

.delete{
  color: var(--primary-color);
  cursor: pointer;
}

.delete:hover{
  color:  #720101;
}
