<app-left-column>
  <app-menu-lateral></app-menu-lateral>
</app-left-column>

<app-middle-column>
  <div class="titulo-pagina">
    <h1>GERENCIAR USUÁRIOS</h1>
    <i class="fa-layers center-icon"><fa-icon [icon]="faUserGear"></fa-icon></i>
  </div>
  <div class="container">
    <div class="search">
      <input class="common-style" type="text" placeholder="Pesquisar usuário por nome ou e-mail" [formControl]="searchControl">
      <button class="btn-add" (click)="openCadastroModal()">Adicionar Usuário</button>
    </div>

    <div class="container-usuarios">
      <div class="usuario" *ngFor="let usuario of filteredUsuarios">
        <img [src]="usuario.photoUrl || 'https://www.w3schools.com/howto/img_avatar.png'" alt="Avatar" class="avatar">
        <p><b>Nome: </b>{{ usuario.Nome }}</p>
        <p><b>Email:</b> {{ usuario.Email }}</p>
        <div class="container-icons">
          <a class="edit" (click)="editarUsuario(usuario.idAluno)"><fa-icon [icon]="faEdit"></fa-icon></a>
          <a class="delete" (click)="openModal(usuario.idAluno)"><fa-icon [icon]="faTrash"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
</app-middle-column>

<app-right-column>
  <app-ranking></app-ranking>
</app-right-column>
