<div class="container_aula">
  <button type="button" class="save-button" (click)="adicionarAula()">
    + Adicionar aula
  </button>
  <button type="button" class="save-button" (click)="deletarAulas()">
    Excluir todas as aulas
  </button>
  
  <button
    type="button"
    class="enviarParaStaff-button"
    *ngIf="podeEnviarParaAprovacao"
    (click)="enviarParaStaff()"
  >
    Enviar curso para aprovação dos Staff
  </button>

  <!-- Itera sobre cada aula e exibe as informações -->
  <div class="input-group" *ngFor="let aula of aulas">
    <div class="add-video">
      <div class="card_aula-thumb">
        <label for="tituloAula">Título da aula</label>
        <input
          type="text"
          class="common-style"
          placeholder="Digite o título da aula"
          name="tituloAula"
          id="tituloAula"
          required
          [(ngModel)]="aula.Titulo"
          required
        />

        <label for="descricaoAula">Descrição da aula</label>
        <textarea
          class="common-style"
          cols="30"
          rows="2"
          placeholder="Digite a descrição da aula"
          name="descricaoAula"
          id="descricaoAula"
          [(ngModel)]="aula.Descricao"
        ></textarea>

        <label for="adicionarVideo">Adicionar link do vídeo</label>
        <input
          class="common-style"
          id="adicionarVideo"
          type="text"
          placeholder="Insira o link do vídeo"
          [(ngModel)]="aula.LinkIncorporacao"
        />

        <label for="adicionarVideo">Adicionar link do formulário</label>
        <input
          class="common-style"
          id="adicionarFormulario"
          type="text"
          placeholder="Insira o link do formulário"
          [(ngModel)]="aula.LinkFormulario"
        />
        <span class="tooltip" (click)="openModal()">Saiba mais sobre o link do formulário</span>

        <div class="container-buttons">
          <button
            type="button"
            class="save-button"
            (click)="saveClass(aula.NumeroAula)"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<button
type="button"
class="enviarParaStaff-button"
*ngIf="podeEnviarParaAprovacao"
(click)="enviarParaStaff()"
>
Enviar curso para aprovação dos Staff
</button>