* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Arial;
}

.container-buttons,.enviarParaStaff {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 10px;
}

.card-btn{
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

form {
  width: 100%;
  padding: 0 70px 50px 70px;
}

h1 {
  text-align: center;
}

.input-group {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 30px;
}

.common-style {
  display: flex;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--back-menu);
  box-shadow: var(--box-shadow);
  font-size: 16px;
}

.common-style:focus {
  outline: none;
}

input,
textarea {
  width: 100%;
}

button {
  width: fit-content;
  color: #898989;
}

select {
  margin-bottom: 10px;
}

.add-video {
  background-color: #ededed;
  padding: 0 30px 30px 30px;
  box-shadow: 1px 3px 4px -2px #898989;
  margin-top: 30px;
  border-radius: 8px;
}


.save-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 32px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.save-button:hover {
    background-color: var(--hover-btn-primary);
}

.excluir-button{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 32px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
}
.excluir-button:hover {
    background-color: var(--hover-btn-secondary);
}

.delete{
    background-color: var(--secondary-color);
}

.delete:hover{
    background-color: var(--hover-btn-secondary);
}

.enviarParaStaff-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 32px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 10px;
}



.delete{
  background-color: var(--secondary-color);
}
.delete:hover{
  background-color: var(--hover-btn-secondary);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}

input:required:invalid {
  border-color: #dc3545; /* Cor vermelha */
}

.aviso {
  text-align: center;
  border-radius: 5px; /* Cantos arredondados */
  margin-bottom: 10px; /* Espaço abaixo do aviso */
  margin-top: 10px;
}
