<h2>Alterar Senha</h2>
<form>
  <div>
    <label for="senhaAtual">Senha Atual</label>
    <div class="senha-input">
      <input type="{{ senhaVisivelAtual ? 'text' : 'password' }}" id="senhaAtual" [(ngModel)]="senhaAtual" name="senhaAtual" disabled>
      <button mat-icon-button class="toggle-password-button" (click)="toggleVisibilidadeSenha('atual')">
        <mat-icon>{{ senhaVisivelAtual ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <label for="novaSenha">Nova Senha</label>
    <div class="senha-input">
      <input type="{{ senhaVisivelNova ? 'text' : 'password' }}" id="novaSenha" [(ngModel)]="novaSenha" name="novaSenha">
      <button mat-icon-button class="toggle-password-button" (click)="toggleVisibilidadeSenha('nova')">
        <mat-icon>{{ senhaVisivelNova ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <label for="confirmarNovaSenha">Confirmar Nova Senha</label>
    <div class="senha-input">
      <input type="{{ senhaVisivelConfirmarNova ? 'text' : 'password' }}" id="confirmarNovaSenha" [(ngModel)]="confirmarNovaSenha" name="confirmarNovaSenha">
      <button mat-icon-button class="toggle-password-button" (click)="toggleVisibilidadeSenha('confirmarNova')">
        <mat-icon>{{ senhaVisivelConfirmarNova ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </div>
  <div class="buttons">
    <button type="button" mat-button (click)="salvar()">Salvar</button>
    <button type="button" mat-button class="cancel" (click)="close()">Cancelar</button>
  </div>
</form>
