
<app-left-column></app-left-column>
<app-right-column></app-right-column>
    <div class="container">

      <app-middle-column>
        <div class="titulo-pagina">
          <h1>LOGIN</h1>
        </div>
        <form (submit)="enviarRegistro()" class="login-form">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="email"
              placeholder="Digite seu email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="password"
              placeholder="Digite sua senha"
              required
            />
            <a routerLink="/recuperar-senha">Esqueceu a senha?</a>
          </div>
          <div class="button-container">
            <button class="back-button" routerLink="/">Voltar</button>
            <button class="login-button" type="submit">Entrar</button>
          </div>
        </form>
        <div class="img-login">
          <img src="assets\img-login.png" alt="login" />
        </div>
      </app-middle-column>

    </div>

