/* Estilos para form */
form {
  margin: 0;
}

/* Estilos para h2 */
h2{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
}

/* Estilos para p */
p {
  text-align: justify;
  font-size: medium;
  padding: 0 15px;
}

/* Estilos para botões */
.btn{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;

}

button{
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 32px;
  padding: 10px 20px;
  width: var(--button-width);
}

.confirmar{
  background-color: var(--primary-color);
}
.confirmar:hover{
  background-color: var(--hover-btn-primary);
}
.cancelar{
  background-color: var(--secondary-color);
}
.cancelar:hover{
  background-color: var(--hover-btn-secondary);
}

