<app-header></app-header>
<app-left-column>
  <app-menu-lateral *ngIf="podeVerMenuLateral"></app-menu-lateral>
</app-left-column>

<app-middle-column>

  <div class="card-ranking">
    <div class="titulo-pagina">
      <i class="fa-layers center-icon"><fa-icon [icon]="faTrophy"></fa-icon></i>
      <h1>RANKING</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>Posição</th>
          <th class="foto">Foto</th>
          <th class="nome">Nome Aluno</th>
          <th class="ponto">Pontos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of rankingItems">
          <td class="posicao">{{ item.position }} º</td>
          <td>
            <img [src]="item.photo" alt="{{ item.name }}" class="avatar" style="width: 100px; height: 100px; border-radius: 50%;">
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.points }} comunicoins</td>
        </tr>
      </tbody>
    </table>
  </div>

</app-middle-column>

<app-right-column></app-right-column>
