@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primary-color: #990000;
  --secondary-color: #666666;
  --button-width: 110px;
  --hover-btn-primary: #6a0000;
  --hover-btn-secondary: #414141;
  --hover-menu:  rgb(189, 189, 189);
  --back-menu: #d9d9d9;
  --back-menu-cl: #ededed;
  --box-shadow: 1px 3px 4px -2px #898989;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.titulo-pagina{
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  justify-content: center;
  color: var(--hover-btn-secondary);
  gap: 10px;

}

.titulo-pagina > i {
  font-size: 20px;
}

h1{
  margin: 0;
  font-weight: bold;
  text-align: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  text-align: center; /* Centraliza o texto */
  border-radius: 4px; /* Cantos arredondados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
}

.mat-snack-bar-container {
  border-radius: 4px !important;
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
}

