mat-dialog-actions{
  display: flex;
  justify-content: center;
}

h3{
  text-align: justify;
  font-size: 12px;
}

.btn{
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    width: 110px;
    display: flex;
    justify-content: center;
  }

  .btn:hover {
    background-color: var(--hover-btn-primary);
    cursor: pointer;
}
