.card-ranking {
  padding: 5px;
  padding-left: 5px;
  margin: 3px;
}

.titulo-pagina{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;

}

.titulo-pagina > i {
  font-size: large;
  padding-right: 10px;
  color: goldenrod;
}

h2 {
  margin: 0;
  font-size: large;
  font-weight: bold;
  text-align: center;
}



.ranking-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid rgb(217, 217, 217);;
}

.ranking-item span {
  padding: 3px;
  font-weight: bold;
}

.ranking-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 5px;
}

.gold-border {
  border: 3px solid gold;
}

.silver-border {
  border: 3px solid silver;
}

.bronze-border {
  border: 3px solid #cd7f32; /* Cor de bronze */
}

.dados {
  padding-left: 5px;
}

p {
  margin: 0;
}

.name {
  font-size: small;
  font-weight: bolder;
}
.card-pontos{
  display: flex;
  font-size: x-small;
  align-items: center;
  color: var(--secondary-color);
}
.pontos {
  text-align: left;
  font-weight: bold;

}

.comunicoins{
  margin-left: 2px;
}

a {
  display: block;
  text-align: right;
  margin-top: 1rem;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

a:hover{
  color: var( --hover-btn-primary);
}
