<div class="card-ranking">
  <div class="titulo-pagina">
    <i class="fa-layers center-icon"><fa-icon [icon]="faTrophy"></fa-icon></i>
    <h2>RANKING</h2>
  </div>

  <div *ngFor="let item of rankingItems; let i = index">
    <div *ngIf="i < 5" class="ranking-item">
      <span>{{ item.position }}º</span>
      <img [src]="item.photo" alt="{{ item.name }}" class="photo" [ngClass]="getBorderClass(i)">
      <div class="dados">
        <p class="name">{{ getFirstAndLastName(item.name) }}</p>
        <div class="card-pontos">
          <p class="pontos">{{ item.points }}</p>
          <p class="comunicoins">comunicoins</p>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/ranking-page" style="text-decoration: none;">ver mais...</a>
</div>
