.card-ranking {
  padding: 2px;
  border-radius: 8px;
  max-width: 210px;
  margin: 3px;
  -webkit-box-shadow: 6px 10px 5px 0px rgba(222,222,222,0.49);
  -moz-box-shadow: 6px 10px 5px 0px rgba(222,222,222,0.49);
  box-shadow: 6px 10px 5px 0px rgba(222,222,222,0.49);
}


h2 {
  font-size: large;
  font-weight: bold;
  text-align: center;
}



.ranking-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.ranking-item span {
  padding: 2px 3px;
  font-weight: bold;
}

.ranking-item img {
  border: 1px solid rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.5rem;
}

.first-place img {
  border: 2px solid gold; /* Cor da borda para o primeiro lugar */
}

.second-place img {
  border: 2px solid silver; /* Cor da borda para o segundo lugar */
}

.third-place img {
  border: 2px solid #cd7f32; /* Cor da borda para o terceiro lugar */
}

.dados {
  padding-left: 5px;
}

p {
  margin: 0;
}

.name {
  font-size: small;
  font-weight: bolder;
}

.pontos {
  color: gray;
  font-size: x-small;
  font-style: italic;
  text-align: left;
}

a {
  display: block;
  text-align: right;
  margin-top: 1rem;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
