.titulo-pagina{
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  justify-content: center;
  color: var(--hover-btn-secondary);
  gap: 10px;

}

  .titulo-pagina > h1{
    margin: 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

.container_curso {
  margin: 0 5rem 10px 5rem;
  background: var(--back-menu-cl);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 0;
}



  .card_curso {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 8px;
    border: solid 1px;
    border: 1px solid #dddddd;
    height: 100%;
    width: 100%;
  }


    .card_curso-coluna1 {
      border-start-start-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: center;
      max-width: 40%;
      min-width: 40%;
      border: #ffe500;
      padding-bottom: 10px;
      background-color: var(--back-menu);
    }

      .card_curso-coluna1 img {
        width: 100%;
        height: auto;
        border-top-left-radius: 8px;
        object-fit: cover;
        object-position: center;
      }

      .card_nota {
        padding: 5px 0;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        width: 100%;
      }

      .card_nota > h3{
        font-weight: bold;
        margin: 0;
      }

        .avaliacao{
          display: flex;
          align-items: center;
          justify-content: center;
          text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        }
          .avaliacao > h3{
            font-weight: bold;
            margin: 0;
          }
          .star-icon{
            list-style-type: none;
            color: #ffe500;
            font-size: 20px;/* alterar o tamanho das estrelas */
            margin: 0;
          }
          .star-icon::before{
            content: "\2605";
          }
          .star-icon.ativo ~ .star-icon::before{
            content: "\2606";
          }


      .dados-criador{
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
      }

      .dados-criador p > b{
        color:  var(--primary-color);
      }

        .dados-criador > p{margin: 0;}

    .card_curso-coluna2{
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: center;
      width: 60%;
      padding-top:  10px;

    }
    .card_curso-coluna2 > h2{
      margin: 20px 0 10px 0;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;

    }
    .card_descricao-tag{
      height: 5%; /* Ajusta a altura das tags para 5% do card */
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      margin-bottom: 10px;
      gap: 10px;
    }
    .card_descricao-tag > h3 {
      margin: 0;
      font-weight: bold;
      color: var(--secondary-color);

    }

    .card_descricao-tag > span {
      margin: 0;
      background: white;
      border-radius: 8px;
      padding: 0px 5px;
      min-width: 30px;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase;
      box-shadow: #555;
      height: 20px;
    }

      .card_curso-descricao {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
      }
      .card_descricao-texto {
        text-align: justify;
        padding-bottom: 10px;
        font-size: 12px;
      }

      .card_descricao-texto > h3{
        margin: 0;
        font-weight: bold;
      }

      .card-emblema{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        border-radius: 8px;
        gap: 5px;
      }

        .card-emblema > h3{
          margin: 0;
          font-weight: bold;
        }
        .curso-emblema {
          max-width: 30px;
          align-items: stretch;
          margin: 0;
          object-fit: cover;
        }


.card_btn{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-matricula {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  position: relative;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.btn-matricula:hover {
  background-color: var(--hover-btn-primary);
  cursor: pointer;
}

.btn-dematricular{
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  position: relative;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}

.btn-dematricular:hover {
  background-color: var(--hover-btn-secondary);
  cursor: pointer;
}

