.container_curso {
  margin: 4rem 5rem;
  background: var(--back-menu);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 50px;
}

h1 {
  text-align: center;
}

.card_curso {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.card_curso-thumb {
  flex: 1 1 33.33%;
  padding: 20px;
  box-sizing: border-box;

  background: var(--hover-menu);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
p{margin: 0;}

.card_curso-thumb img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card_curso-descricao {
  flex: 2 1 66.67%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card_descricao-titulo {
  margin-bottom: 1rem;
}

.card_descricao-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.card_descricao-tags span {
  color: white;
  background-color: var(--primary-color);
  border-radius: 14px;
  padding: 1px 20px;
  font-size: 10px;
  margin: 0 10px 10px 0;
}

.card_descricao-texto {
  text-align: justify;
  margin-bottom: 1rem;
}
.card_descricao {
  font-size: 20px;
  margin-bottom: 1rem;
}

.btn-matricula {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: white;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.btn-matricula:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
