<!-- Coluna Esquerda (Fixa) - Ranking -->
<app-left-column>
  <app-menu-lateral></app-menu-lateral>
</app-left-column>

<!-- Coluna do Meio (Rolável) - Feed Principal -->
<app-middle-column>
  <div class="container_curso">
    <h1><b>{{ nomeCurso }} </b></h1>

    <div class="card_curso">
      <div class="card_curso-thumb">
        <img [src]="imagem" alt="" />
        <div class="card_descricao-tags">
          <span *ngFor="let tag of tags">{{ tag }}</span>
        </div>
        <p>
          Curso criado por: <b>{{ nomeCriador }}</b>
        </p>
        <p>
          <b>{{ finishTotal }} pessoas</b> já concluiram este curso
        </p>
        <p>Curso criado em: {{ dataAprovacao }}</p>
      </div>

      <div class="card_curso-descricao">
        <div class="card_descricao">Descrição:</div>
        <div class="card_descricao-texto">{{ descricao }}</div>

        <button *ngIf="matricula" class="btn-matricula" (click)="openModal()">Matricular-se</button>
        <button *ngIf="verAulas" class="btn-matricula" routerLink="/assistirAulas">Assistir aulas</button>
      </div>
    </div>
  </div>
</app-middle-column>

<app-right-column></app-right-column>
