form{
  margin: 0;
}

h2{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
}

p{
  text-align: justify;
  font-size: medium;
  padding: 0 15px;
}

.btn{
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size:larger ;
  font-weight: bolder;
  justify-content: center;

}

.btn > button{
  font-size: large ;
  height: 35px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5%;
}

.confirmar{
  color: white;
  background-color: var(--primary-color);
}
