.btn{
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    justify-content: center;
    width: 150px;
  }

  .btn:hover {
    background-color: var(--hover-btn-primary);
    cursor: pointer;
}
