.middle-column {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 60px;
  z-index: 2;
  left: 15%;
  width: 70%;
  background-color: #FFFFFF;
  overflow-y: auto;
  max-height: 92vh;
}

.middle-column::-webkit-scrollbar {
  width: 5px;
}

.middle-column::-webkit-scrollbar-track {
  background: #7e7e7e42;
}

.middle-column::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
  border-radius: 10px;
}
