*{
  margin: 0;
  font-size: 12px;

}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
  box-shadow: var(--box-shadow);
  width: 75%;
  border-radius: 8PX;
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: left;
  border-radius: 5px;
  width: 890px;
}

.input-group {
  margin-bottom: 15px;
}
.inputs{
  display: flex;
  gap: 20px;
}
.imagem{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  flex-direction: column;
}

p {
  font-size: 10px;
  color: var(--secondary-color);
  margin-top: 4px;
  margin-left: 3%;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]{
  width: 370px;
  /* height: 20px; */
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #d9d9d9;
  box-shadow: 1px 3px 4px -2px #898989;

}


button {
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 32px;
  padding: 10px 20px;
  width: var(--button-width);
}

button.signup-button {
  background-color: var(--primary-color);
  /* margin-left: 60px;
  margin-right: 55px; */
}

button.back-button {
  background-color: var(--secondary-color);
  transition: background-color 0.2s;
  /* margin-left: 90px; */
}

button.signup-button:hover {
  background-color:var(--hover-btn-primary);
}

button.back-button:hover {
  background: var(--hover-btn-secondary);
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}



img {
  width: 140px;
  height: 140px;
}

.img-signup {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.image-preview img {
  border-radius: 50%;
  border: 1px solid white;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
}
