*{
  margin: 0;
  font-size: 12px;

}
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
  box-shadow: var(--box-shadow);
  width: 850px;
  border-radius: 8px;
}



form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}


.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;

}

.imagem img {
  width: 110px; /* Reduzi o tamanho da largura */
  height: 110px; /* Reduzi o tamanho da altura */
  border-radius: 50%;
  border: 1px solid white;
}

.img-signup {
  display: flex;
  justify-content: center;
  margin: 0;
}

.image-preview img {
  border-radius: 50%;
  border: 1px solid white;
}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.input-group {
  margin-bottom: 10px;

}

.linha1{
  display: flex;
  gap: 10px;
}

.inputs>.linha2{
  display: flex;
  gap: 10px;
}

.linha3{
  display: flex;
  gap: 10px;
}



p {
  font-size: 10px;
  color: var(--secondary-color);
  margin-top: 4px;
  margin-left: 3%;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]{
  width: 300px;
  /* height: 20px; */
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #d9d9d9;
  box-shadow: 1px 3px 4px -2px #898989;

}
input[type="text"]{
  width: 480px;
}

input[type="date"]{
  width: 120px;
  text-align: center;
}
button {
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 32px;
  padding: 10px 20px;
  width: var(--button-width);
}

button.signup-button {
  background-color: var(--primary-color);
  /* margin-left: 60px;
  margin-right: 55px; */
}

button.back-button {
  background-color: var(--secondary-color);
  transition: background-color 0.2s;
  /* margin-left: 90px; */
}

button.signup-button:hover {
  background-color:var(--hover-btn-primary);
}

button.back-button:hover {
  background: var(--hover-btn-secondary);
}


.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}
