<app-left-column>
  <app-menu-lateral></app-menu-lateral>
</app-left-column>

<app-middle-column>
  <div class="titulo-pagina">
    <h1>GERENCIAR PERFIL</h1>
    <i class="fa-layers center-icon"><fa-icon [icon]="faUser"></fa-icon></i>
  </div>

  <div class="container_dados-cadastrais">
    <div class="card_perfil">
      <div class="card_perfil-foto">
        <img [src]="imagem" alt="Foto do Perfil">
        <label for="input-foto" class="input-icon">
          <i class="icone-foto"><fa-icon [icon]="faCamera"></fa-icon></i>
          <input type="file" id="input-foto" accept="image/*" style="display: none;" (change)="onFileSelected($event)">
        </label>
      </div>
      <div class="card_pontuacao">
        <h3 class="ranking">RANKING:</h3>
        <div class="card_pontuacao-comunicoins">
          <span class="titulo">Pontuação: </span>
          <span class="pontos">{{ Pontos }}</span> Comunicoins
        </div>
        <div class="card_pontuacao-emblemas">
          <span class="titulo">Emblemas adquiridos: </span>
          <br>
          <div class="emblemas">
            <img *ngFor="let emblema of emblemas" [src]="emblema" alt="Emblema do Curso">
          </div>
        </div>
      </div>
    </div>

    <div class="card_dados_cadastrais">
      <div class="card_dados_cadastrais-linha1">
        <label for="">Nome</label>
        <input type="text" [(ngModel)]="Nome" placeholder="Nome">
      </div>

      <div class="card_dados_cadastrais-linha2">
        <div class="card_e-mail">
          <label for="">Email</label>
          <input type="email" [(ngModel)]="Email" placeholder="Email" disabled>
        </div>

        <div class="card_data-nascimento">
          <label for="">Data Nascimento</label>
          <input type="date" [(ngModel)]="DataNasc" placeholder="DataNasc">
        </div>
      </div>

      <div class="card_senha">
        <fa-icon [icon]="faKey"></fa-icon>
        <a (click)="openModal()">Altere sua senha</a>
      </div>

      <div class="container_btn">
        <button class="btn-salvar" (click)="atualizarPerfil()"><fa-icon [icon]="faFloppyDisk"></fa-icon> Salvar</button>
      </div>

      <br><br><br><br><br>
      <div class="excluir" (click)="openModalExcluir()"><fa-icon [icon]="faTrash"></fa-icon> Excluir Conta</div>
    </div>
  </div>
</app-middle-column>

<app-right-column>
  <app-ranking></app-ranking>
</app-right-column>
