*{
  margin: 0;
}

h1{
  margin: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.container_dados-cadastrais {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card_perfil{
  width: 65%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card_perfil-foto{
  width: 70%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_perfil-foto > img{
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

input[type="file"] {
  display: none;
}

.input-icon {
  position: absolute;
  bottom: 5%;
  left: 55%;
  background-color: #898989;
  border-radius: 50%;
  padding: 12px;
  border:1px solid #ffffff;
  font-size: 25px;
  cursor: pointer;
}
.input-icon .icone-foto {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}
.input-icon input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.card_pontuacao{
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 70;
  width: 70%;
  font-weight: bold;

}

.card_pontuacao-posicao, .card_pontuacao-comunicoins, .card_pontuacao-emblemas{
  height: 33%;
  width: 100%;
}

.card_dados_cadastrais{
  padding-top: 10px;
}

.card_dados_cadastrais-linha1 > input{
  width: 97%;
}

.card_dados_cadastrais-linha2{
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.card_data-nascimento{
  padding-left: 35px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  display: flex;
  width: 200px;
  height: 16px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #d9d9d9;
  box-shadow: 1px 3px 4px -2px #898989;
  font-size: 14px;
}
input[type="email"]{
  width: 350px;
  max-width: 100%;

}

input[type="text"]{
  width: 600px;
}
.card_senha{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-top: 10px;
}

.card_senha > a {
  padding-left: 5px;

}

.card_senha:hover{
  color: #3a3a3a;
  cursor: pointer;
}


button {
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 32px;
  padding: 10px 20px;
  margin: 35px;


}
.card_edicao-salvar{
  width: 100%;
}

.btn-cancelar {
  background-color: #990000;
  width: 160px;
  transition: background-color 0.2s;
}

.btn-editar , .btn-salvar{
  padding: 10px 30px;
  background-color: #666666;
  transition: background-color 0.2s;
  width: 160px;

}
.excluir{
  font-weight: bold;
  color: #990000;
}

.excluir:hover {
 color: #720101;
 cursor: pointer;
}

button.btn-cancelar:hover {
  background-color: #720101;

}

button.btn-editar:hover {
  background-color: #3a3a3a;
}

button.btn-salvar:hover {
  background-color: #3a3a3a;
}

.container_btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
