
<div><h2 mat-dialog-title>Questionário referente a aula 1</h2>
<p>1- Quanto é 2+2?</p>
<mat-radio-group class="radioBtn" aria-label="Select an option">
    <mat-radio-button value="1">3</mat-radio-button><br>
    <mat-radio-button value="2">4</mat-radio-button>
  </mat-radio-group>

<p>2- Quanto é 2+2?</p>
<mat-radio-group class="radioBtn" aria-label="Select an option">
    <mat-radio-button value="1">3</mat-radio-button><br>
    <mat-radio-button value="2">4</mat-radio-button>
  </mat-radio-group>

<p>3- Quanto é 2+2?</p>
<mat-radio-group class="radioBtn" aria-label="Select an option">
    <mat-radio-button value="1">3</mat-radio-button>
    <mat-radio-button value="2">4</mat-radio-button>
  </mat-radio-group>

<p>4- Quanto é 2+2?</p>
<mat-radio-group class="radioBtn" aria-label="Select an option">
    <mat-radio-button value="1">3</mat-radio-button>
    <mat-radio-button value="2">4</mat-radio-button>
  </mat-radio-group>

<p>5- Quanto é 2+2?</p>
<mat-radio-group class="radioBtn" aria-label="Select an option">
    <mat-radio-button value="1">3</mat-radio-button>
    <mat-radio-button value="2">4</mat-radio-button>
  </mat-radio-group>
<mat-dialog-actions>
  <button class='btn 'mat-button (click)="closeModal()">Entendido</button>
</mat-dialog-actions>

</div>