::ng-deep .matExpansion .mat-expansion-panel-body{
    padding: 20px!important;
}

.matExpansion.mat-expansion-panel .mat-expansion-panel-header{
    background-color: rgb(219, 219, 219);
}

.matExpansion.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
    background-color: rgb(196, 196, 196);

}
h1{
    font-weight: bold;
    margin: 20px;
    text-align: center;

}
h2{
  text-align: center;
}

.btn{
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
  }

  .btn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}
.aulas{
  display: flex;
  flex-direction: column;
}

mat-accordion{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
}
.matExpansion{
  width: 100%;
}

.card-conteudo_aula{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div{
  display: flex;
  justify-content: space-around;
  align-items: center;

}


